.d0
{
    font-family: Passion One;
    font-size: 36px;
    height: 100px;
    background-color: rgb(2, 92, 2);
    color: white;
}
#d1
{
    font-size: 42px;
    margin-left: 77px;
    margin-top: 30px;
}
.h3
{
    font-family: ;
    color: white;
}
.d2
{
    background-color: rgb(142 235 204);
    height: 844px;
}
.d3
{
    color: grey;
    font-size: 22px;
    font-family: Jura;
    text-decoration: underline dotted;
}
.d4
{
    font-size: 22px;
    font-family: Itim;
    color: rgb(2, 92, 2);
    margin-left: 64px;
}
#d5
{
    color: grey;
    margin-left: 48px;
    font-size: 17px;
}
#d6
{
    
    color: grey;
    font-family: Itim;
    line-height: 25px;
    text-decoration: overline dashed;
}
#d7
{
    font-size: 22px;
    font-family: Itim;
    color: rgb(2, 92, 2);
    margin-left: 1695px;
}
#d9
{
    color: grey;    
    margin-left: 1822px;
}
#d10
{
    color: grey;
    font-family: Itim;
    line-height: 25px;
    text-decoration: overline dashed;
    
}
#d11
{
    font-size: 22px;
    font-family: Itim;
    color: rgb(2, 92, 2);
    margin-left: 64px;
}
#d12
{
    color: grey;
    margin-left: 48px;
}
#d13
{
    color: grey;
    font-family: Itim;
    line-height: 25px;
    text-decoration: overline dashed;
}
#d14
{
    font-size: 22px;
    font-family: Itim;
    color: rgb(2, 92, 2);
    margin-left: 64px;
}
#d15
{
    color: grey;
    margin-left: 48px;
}
#d16
{
    color: grey;
    font-family: Itim;
    line-height: 25px;
    text-decoration: overline dashed;
}
#d17
{
    font-size: 22px;
    font-family: Itim;
    color: rgb(2, 92, 2);
    margin-left: 1861px;
}
#d19
{
    color: grey;    
    margin-left: 1822px;
}
#d20
{
    color: grey;
    font-family: Itim;
    line-height: 25px;
    text-decoration: overline dashed;
    
}
#d21
{
    color: grey;
    font-size: 22px;
    font-family: Jura;
    text-decoration: underline dotted;
}
#d22
{
    font-size: 22px;
    font-family: Itim;
    color: rgb(2, 92, 2);
    margin-left: 1676px;
}
#d24
{
    color: grey;    
    margin-left: 1820px;
}
#d25
{
    color: grey;
    font-family: Itim;
    line-height: 25px;
    text-decoration: overline dashed;
    
}
#d26
{
    font-size: 22px;
    font-family: Itim;
    color: rgb(2, 92, 2);
    margin-left: 1658px;
}
#d28
{
    color: grey;    
    margin-left: 1821px;
}
#d29
{
    color: grey;
    font-family: Itim;
    line-height: 25px;
    text-decoration: overline dashed;
    
}
